<!DOCTYPE html>
<html>
  <head>
    <title>Directory Listing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All Images</h1>
    <P><EM>Note:</EM> Pictures can take up to 5 seconds to be recorded. Reload this page to see the most current list of images.</P>
    <% for (var i=0; i<ls.length; i++) { %>
      <%- "<A HREF=images/fullsnaps/"+ls[i]+">"+ls[i]+"</A>" %>
      <br />
    <% } %>
  </body>
</html>
