<!DOCTYPE html>
<html>
  <head>
    <title>Directory Listing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Directory:</h1>
    <% for (var i=0; i<ls.length; i++) { %>
      <%- "<A HREF=images/fullsnaps/"+ls[i]+">"+ls[i]+"</A>" %>
      <br />
    <% } %>
  </body>
</html>
